a:link{color:#29ca37;}
a:visited{color:#29ca37;}
a:hover{color:#045f1f;}
a:active{color:#045f1f;}

* { 
  padding: 0;
  margin: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
  }
  
  table {
    border-collapse: collapse;
    width: 500px;
    margin-top: 10px;
  }
  
  main {
    height: 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 255, 246);
    /*/background: linear-gradient(to right, rgb(114,194,40)10%, rgb(255, 255, 255)30%, rgb(255, 255, 255)70%, rgb(114, 194, 40)90%);/*/
  }

body h1 {
  text-align: center;
  width: 100vw;
}

body h2 {
  text-align: center;
  width: 100vw;
}

.header-right{
    background-color: rgb(250, 255, 246);
    border-bottom: 10px solid hsl(114, 41%, 45%);

}



.header-right ul{
    color: #178aad;
    display:flex;
}
.header-right li{
  width: 15vw;
  height: 5vh;
  background: rgb(250, 255, 246);
  list-style:none;
  border: solid 1px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  margin: 0 1%;
    
 }
.table{
  margin-left:auto;
  td {
    width: 100%;
  }
}


 input[type="text"] {
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #15a56e;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #15a56e;
  outline: none;
}
th {
  background-color: #15a56e;
  color: white;
  padding: 12px;
  font-size: 1.1rem;
  text-align: center;
  
}

td {
  border: 2px solid #ddd;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

tbody tr:hover {
  background-color: #f0f8ff;
}



.contain {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.top{
  width: 1321px;
  height:40px;
  text-align: center;
}

