a:link{color:#29ca37;}
a:visited{color:#29ca37;}
a:hover{color:#045f1f;}
a:active{color:#045f1f;}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 300px;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
  }
  
  th {
    background-color: #eee;
  }

body h1 {
  text-align: center;
  width: 100vw;
}

.header-right{
     background-color: #ffffff;
    border-bottom: 10px solid hsl(114, 41%, 45%);
    display: flex;
    justify-content: flex-end;
}

li{
    list-style:none;
}

.header-right ul{
    color: #DDDDDD;

    display:flex;
    justify-content: flex-end;
}
.header-right li{
    list-style:none;
    border-left:1px solid #43f052;
    padding: 20px 30px 0px 30px;
    
 }
 .header-right{
    margin-left:auto;
 }

  .table{
    margin-left:auto;
 }
#timetable {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%; 
}

.container {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: inline;
  padding-left: 0;
  margin-left: 470px; /* ここでさらに左にずらす */
  font-weight: bold;
  font-size: 1.1em;
}

select{
  display: inline;
  padding-left: 0;
  font-weight: bold;
  font-size: 1.1em;
}