a:link{color:#29ca37;}
a:visited{color:#29ca37;}
a:hover{color:#045f1f;}
a:active{color:#045f1f;}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 400px;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
  }
  
  th {
    background-color: #eee;
  }

  body h1 {
  text-align: center;
  width: 100vw;
}

.header-right{
    background-color: #ffffff;
    border-bottom: 10px solid hsl(114, 41%, 45%);
    display: flex;
    justify-content: space-between;

}

li{
    list-style:none;
}

.header-right ul{
    color: #DDDDDD;
    margin-left: auto;
    display:flex;
    justify-content: flex-end;
}
.header-right li{
    list-style:none;
    border-left:1px solid #43f052;
    padding: 20px 30px 0px 30px;
    
 }
 .header-right{
    margin-left:auto;
 }


  .table{
    margin-left:auto;
 }
#timetable {
  margin: 0 auto;
  border-collapse: collapse;
  width: 70%; 
}

.container {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: inline;
  padding-left: 0;
  margin-left: 300px; /* ここでさらに左にずらす */
  font-weight: bold;
  font-size: 1.1em;
}

select{
  display: inline;
  padding-left: 0;
  font-weight: bold;
  font-size: 1.1em;
}


html {
    scroll-behavior: smooth;
  }
  
  
  .pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
    
  }
  
  .pagetop__arrow {
    height: 10px;
    transition: 1s ease;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
    
}
